<div id="modal" class="hidden">
    <div class="content">
        <div class="header">
            <h2>Ponto de coleta</h2>
            <a href="#">Fechar</a>
        </div>
        <form action="/search">
            <label for="search">Cidade</label>
            <div class="search-field">
                <input type="text" name="search" placeholder="Pesquise por cidade">
                <button>
                    <img src="/assets/search.svg" alt="Botão de busca">
                </button>
            </div>
        </form>
    </div>
</div>