@media (max-width: 900px){
    #home-page{
        background-position: 70vh;
    }
    #home-page .content{
        align-items: center;
        text-align: center;
    }

    #home-page .content header a{
        position: absolute;
        bottom: 48px;
        left: 50%;
        transform: translateX(-50%);
    }
    #home-page .content main{
        align-items: center;
    }
}

@media(min-width: 1700px){
    #home-page{
        background-position-x: 40vw;
    }
}

@media (max-height: 800px){
    #home-page{
        background-position-y: 200px;
    }
}
